*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

/* Menu */

.menu-navegacion{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #2E86C1;
  
}

.logo{
    height: 70px;
}

.logo img{
    display: block;
    height: 100%;
    padding-left: 20px;
}

.enlaces li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}

.enlaces a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

/* Hero */

.hero{
    height: 600px;
    background-image: url("../img/perroygatos.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.contenedor-textos{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
}

.hero h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

.hero p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

.boton{
    width: 150px;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    background: #64B5F6;
    color:white;
    text-decoration: none;
    border-radius: 20px;
}
/* MAIN*/

.titulo-seccion{
    text-align: center;
    font-size: 35px;
    color:rgb(22, 150, 236);
}

.copy{
    text-align: center;
    color:#144794;
    margin: 20px 0;
}

.beneficios{
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.beneficio{
    font-size: 25px;
    padding-bottom: 30px;
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 20%;
}

.beneficio1{
    background-image: url("../img/ayuda1.jpg");
}

.beneficio2{
    background-image: url("../img/ayuda2.jpg");
}

.beneficio3{
   background-image: url("../img/ayuda3.jpg");
}

/*Ayudas*/

.ayudas{
    background: #f2f2f2;
}

.contenedor-imagenes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenedor-imagenes img{
    display: block;
    width: 30%;
    box-shadow: 0 0 8px rgb(0, 0, 0, .4);
    margin-bottom: 40px;
}

/*footer*/
footer{
    background: #537c97;
}
footer .titulo-seccion{
    color:white;
}
footer .copy{
    color: white;
}
.redes-sociales{
    display: flex;
    justify-content: center;
}

.redes-sociales i{
    font-size: 30px;
    padding: 0 20px;
}
