*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: 'Times New Roman', Times, serif;
}

.contenedor{
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

/* Menu */

.menu-navegacion{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #1e577c;
}

.logo{
    height: 70px;
}

.logo img{
    display: block;
    width: 100px;
    height: 100%;
    padding-left: 20px;
    margin-left: 20px;
}

.enlaces li{
    list-style: none;
    display: inline-block;
}

.enlaces a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 15px;
    margin-right: 5px;
}

.enlaces li a:hover{
    background: #3ea7f2;
    border-radius: 10px;
    padding: 20px 15px;
}

/* Hero */

.hero{
    height: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../img/perroygatos.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.contenedor-textos{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
}

.hero h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}

.hero p{
    font-size: 20px;
    font-weight: 500px;
    margin-bottom: 40px;
}

.boton{
    width: 150px;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    background: #64B5F6;
    color:white;
    text-decoration: none;
    border-radius: 20px;
}

.contenedor-textos a:hover{
    background: #1e577c;
}
/* MAIN*/

.titulo-seccion{
    text-align: center;
    font-size: 35px;
    color:rgb(22, 150, 236);
}

.copy{
    text-align: center;
    color:#144794;
    margin: 20px 0;
}

.beneficios{
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.beneficio{
    font-size: 25px;
    padding-bottom: 30px;
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 20%;
}

.beneficio1{
    background-image: url("../img/ayuda1.jpg");
}

.beneficio2{
    background-image: url("../img/ayuda2.jpg");
}

.beneficio3{
   background-image: url("../img/ayuda3.jpg");
}

/*Ayudas*/

.ayudas{
    background: #f2f2f2;
}

.contenedor-imagenes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenedor-imagenes img{
    display: block;
    width: 30%;
    box-shadow: 0 0 8px rgb(0, 0, 0, .4);
    margin-bottom: 40px;
}

/*footer*/
footer{
    background: #537c97;
}
footer .titulo-seccion{
    color:white;
}
footer .copy{
    color: white;
}
.redes-sociales{
    display: flex;
    justify-content: center;
}

.redes-sociales i{
    font-size: 30px;
    padding: 0 20px;
}

/*pagina Nosotros*/

.nosotros{
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/gato.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color:white;
    font-weight: bold;
    }
    
.contenedor-nosotros{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.nosotros h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

.nosotros p{
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 40px;
    padding: 50px;
    text-align: justify;
}

/*Campaña*/

.campaña{
    height: 800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/mano.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color:white;
    font-weight: bold;
}

.contenedor-campaña{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.campaña h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

.campaña p{
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 40px;
    padding: 50px;
    text-align: justify;
}

.campaña1{
    background-image: url("../img/c1.jpg");
}

.campaña2{
    background-image: url("../img/c2.jpg");
}

.campaña3{
   background-image: url("../img/c3.jpg");
}

.campaña4{
    background-image: url("../img/c3.jpg");
}

/*Contacto*/

.formulario{
    height: 550px;
    background-image: url("../img/perroygatos.jpg");
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    padding-top: 30px;   
}

.formulario form{
    width: 500px;
    margin: auto;
    background: rgba(0,0,0, 0.4);
    padding: 10px 20px;
    border-radius: 7px;
}

.formulario h2{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

.formulario input, textarea{
    width: 100%;
    margin-bottom: 30px;
    padding: 7px;
    font-size: 17px;
    border: none;
}

.formulario textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

.formulario .enviar{
    background: rgb(99, 105, 103);
    color: white;
    padding: 20px; 
    border-radius: 10px;  
}

.formulario .enviar:hover{
    background:#1e577c;
}



@media screen and (max-width:800px) {
    .hero{
        background-image: url("../img/perro.jpg"); 
    }
    .menu-navegacion{
        flex-direction: column;
        height: 160px;
        justify-content: space-evenly;
    }
    .hero h1{
        font-size: 36px;
        margin-top: 50px;
    }
    .beneficio{
        margin-bottom: 40px;
    }
    .contenedor-imagenes img{
        width: 90%;
    }
    .copy{
        margin-bottom: 40px;
    } 
    
    .nosotros{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/perro_0.jpg");
        height: 650px;
        color: white;
        }

    .nosotros h1{
        font-size: 25px;
    }

    .nosotros p{
        font-size: 20px;
    }
    .campaña{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/55.png");
        height: 100%;
        color: white;
      

    }
    .campaña h1{
        font-size: 30px;
        margin-top: 30px;

    }
    .campaña p{
        font-size: 20px;
    }
    .formulario form{
        width: 90%;
    }
}
